@{
    ViewBag.Title = "StaffArea";
}

<h2>Staff Area</h2>


<div class="jumbotron">
    <img src="~/images/MKSLogo1.jpg" alt="Logo" /><h1>MKS Service Application</h1>

    <p class="lead">Welcome to the MKS staff area. Please select the desired option from the buttons at the top of the screen.</p>

</div>