
@{
    ViewBag.Title = "SubmitConfirm";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Success</h2>
<p>
    Thank you for your submission. A representative from MKS will be in contact with you regarding your enquiry.
    @Html.ActionLink("Return to home page", "Index")
</p>

